.banner {
    background:linear-gradient(45deg,rgb(59, 109, 202),rgb(17, 26, 63));
    color: rgb(204, 230, 255);
    font-size: large;
    padding-top: 5%;
    padding-bottom: 5%;
}
.leftsub {
    text-align:left;
    font-size:200%;
}
.indented {
    position:relative; left:8%
}
#titletext {
    font-size: 300%;
}
#subtitletext {
    font-size: 200%;
}
#backgrounddiv {
    background: linear-gradient(to top,rgb(236, 240, 247),rgb(114, 139, 202));
}
#leftmost {
    text-align: left;
}
#resetindent {
    position:relative; right:8%;
}
#linehightthin {
        line-height: 1em;
}
#logocharacter {
    width: 50px; 
    float: left; 
    margin-right: 2%;
    display:inline; 
}
#teamaff {
    width: 50px; 
    float: right; 
    margin-right: 16%;
    display:inline; 
}
#teamaffspam {
    width: 75px; 
    float: right; 
    margin-right: 15%;
    display:inline; 
}
#normalfontsize {
    font-size: 100%;
}
h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}
