p{
    margin-left:5%;
    margin-right:5%;
    max-width: 95%;
}
a{
    text-decoration: none;
    font-size:120%;
}
a:link{
    color:white;
}
a:visited{
    color:white;
}
a:hover{
    color:rgb(114, 139, 202)
}
.banner {
    background:linear-gradient(45deg,rgb(59, 109, 202),rgb(17, 26, 63));
    color: rgb(204, 230, 255);
    font-size: large;
    padding-top: 5%;
    padding-bottom: 5%;
}
.memberbanner {
    background:linear-gradient(45deg,rgb(59, 109, 202),rgb(17, 26, 63));
    color: rgb(204, 230, 255);
    font-size: large;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer {
    background:linear-gradient(45deg,rgb(59, 109, 202),rgb(17, 26, 63));
    color: rgb(204, 230, 255);
    font-size: large;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
}
.leftsub {
    text-align:left;
    font-size:200%;
}
.indented {
    position:relative; left:8%;
}
.tophyperlinks{
    display:inline;
}
.button1{
    width: 45%;
    height: 50px;
    font-family:'Roboto Slab';
    background-color:rgb(175, 255, 250);
    border: double;
    color: rgb(17, 26, 63);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    transition-duration: 0.4s;
}
.button2{
    width: 45%;
    height: 50px;
    font-family:'Roboto Slab';
    background-color:whitesmoke;
    border: double;
    color: rgb(17, 26, 63);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    transition-duration: 0.4s;
}
.button1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 50%;
    height: 50px;
    font-family:'Roboto Slab';
    background-color:rgb(175, 255, 250);
    border: double;
    color: rgb(17, 26, 63);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
}
.button2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 50%;
    height: 50px;
    font-family:'Roboto Slab';
    background-color:whitesmoke;
    border: double;
    color: rgb(17, 26, 63);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
}
#titletext {
    font-size: 600%;
}
#membertitletext {
    font-size: 400%;
}
#subtitletext {
    font-size: 200%;
}
#subtext {
    font-size: 50%;
}
#backgrounddiv {
    background: linear-gradient(to top,rgb(236, 240, 247),rgb(114, 139, 202));
}
#leftmost {
    text-align: left;
}
#centeredtext{
    text-align: center;
}
#resetindent {
    position:relative; right:8%;
}
#linehightthin {
        line-height: 1em;
}
#logocharacter {
    width: 50px; 
    float: left; 
    margin-right: 2%;
    display:inline; 
}
#teamaff {
    width: 50px; 
    float: right; 
    margin-right: 16%;
    display:inline; 
}
#teamaffspam {
    width: 75px; 
    float: right; 
    margin-right: 15%;
    display:inline; 
}
#imageright{
    float:right;
    margin-right: 20px;
}
#normalfontsize {
    font-size: 100%;
}
h1,
h2,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 501px) {
    .tophyperlinks{
        display:grid;
    }
    .indented {
        position:relative; left:0%
    }
    .leftsub {
        text-align:center;
        font-size:150%;
    }
    #titletext {
        font-size: 300%;
    }
    #leftmost {
        text-align: center;
    }
    #logocharacter {
        width: 50px; 
        float: left; 
        margin-right: 2%;
        display:inline; 
    }
    #teamaff {
        width: 50px; 
        float: right; 
        margin-right: 2%;
        display:inline; 
    }
    #teamaffspam {
        width: 75px; 
        float: right; 
        margin-right: 4%;
        display:inline; 
    }
    #imageright{
        display:none;
    }
    .footer {
        background:linear-gradient(45deg,rgb(59, 109, 202),rgb(17, 26, 63));
        color: rgb(204, 230, 255);
        font-size: large;
        padding-top: 2%;
        padding-bottom: 2%;
        text-align: center;
    }
}
